@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP');
@import url("https://fonts.googleapis.com/css?family=Exo+2:300i");
// Globals
$body-font-family: 'Noto Sans JP', sans-serif;
$code-background-color: none;
$code-color: none;
$code-kbd-font-size: 1.6vh;
$code-kbd-font-weight: none;
$code-kbd-border-radius: none;
$material-light: (
  'background': #ededed
);